@import url("https://fonts.cdnfonts.com/css/anurati");
@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0");

.content{
  height : calc(100vh - 67px);
  color: #f9f9f9;
  background-color: #111820;
  background-image: url("../img/auth_assets/login_bg_2.svg");
  font-family: "Euclid Circular A", sans-serif;
  
}


