@import url("https://fonts.cdnfonts.com/css/anurati");
@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0");

* {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

@keyframes gradient {
  100% {
    background-size: 1920px 1080px;
  }
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 20px;
  background-image: url("../img/auth_assets/login_bg_2.svg");
  color: #f9f9f9;
  background-color: #111820;
  font-family: "Euclid Circular A", sans-serif;
}

.login-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 70px 30px 44px;
  border-radius: 22px;
  background: #111820;
  text-align: center;

  
  box-shadow: 0 0 20px rgb(33,108,231);
  
}

@media (width >= 450px) {
  .login {
    width: 470px;
  }
}

.logo {
  margin: 0 auto 16px;
  padding: 2px;
  width: 100px;
  height: 1=0px;
}

.logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login > h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 4px;
}

.login > h3 {
  color: rgba(255, 255, 255, 0.38);
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 16px;
}

.login-form {
  display: grid;
  gap: 16px;
  place-items: center;
  width: 100%;
  margin: 0;
}

.textbox {
  width: 100%;
  position: relative;
}

.textbox span {
  position: absolute;
  top: 30px;
  left: 16px;
  translate: 0 -50%;
  color: rgba(255, 255, 255, 0.38);
}

.login-form input,
.login-form button {
  width: 100%;
  height: 60px;
  outline: none;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  border-radius: 8px;
}

.login-form input {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  font-size: 18px;
  padding: 0 20px 0 50px;
  color: inherit;
}

.login-form input:focus {
  border-color: #157ae1;
}

.login-form input:focus ~ span {
  color: #157ae1;
}

.login-form button {
  cursor: pointer;
  background: #157ae1;
  color: #f9f9f9;
  border: 0;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.login a {
  color: #157ae1;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}

.login .textbox:focus-within label {
  color: #216ce7;
}

.login .error {
  color: #cc0000 !important;
  margin-bottom: 10px !important;
}

.login .success {
  color: rgb(75, 181, 67) !important;
  margin-bottom: 10px !important;
}
